@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf)
    format("truetype");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCIPrQ.ttf)
    format("truetype");
}
.business-card-1 {
  display: grid;
  overflow: hidden;
  position: relative;
  line-height: 1.6;
  font-size: 4.5vmin;
  width: 100vmin;
  height: 60vmin;
  padding: 7vmin;
  border-radius: 6px;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.4);
}
.business-card-1 .content {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  font-family: "Raleway", sans-serif;
  color: #58242a;
}
.business-card-1 .top {
  display: grid;
  grid-column: 0.33333333;
  grid-row: 1;
  align-content: start;
  grid-gap: 1.5vmin;
  animation: inLeft;
  animation-duration: 1s;
}
.business-card-1 .name {
  font-size: 2em;
  font-weight: 700;
  line-height: 1;
}
.business-card-1 .profession {
  color: #732d35;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
}
.business-card-1 .bottom {
  display: grid;
  grid-column: 0.33333333;
  grid-row: 3;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: end;
}
.business-card-1 .bottom .left {
  font-weight: 700;
  font-size: 0.9em;
  grid-column: 1;
  animation: inLeft;
  animation-duration: 1s;
}
.business-card-1 .bottom .right {
  grid-column: 3;
  align-self: end;
  animation: inRight;
  animation-duration: 1s;
}
.business-card-1 .website {
  color: #732d35;
  font-weight: 400;
}
.business-card-1 .location {
  white-space: nowrap;
  text-align: right;
  color: #ee473b;
  text-transform: uppercase;
  font-size: 0.9em;
}
.business-card-1 .background {
  z-index: 1;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.business-card-1 .slice {
  top: -59vmin;
  left: -1vmin;
  position: absolute;
  width: 90vmin;
  height: 150vmin;
  background: #ef473a;
  background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);
  background: linear-gradient(to right, #ef473a, #cb2d3e);
  transform: rotate(38deg);
  animation: inRotate;
  animation-duration: 1s;
}
